* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-white: #fff;
}

/* Debug rules */

.debug footer{
    background-color: green;
}

.debug main{
    background-color: aliceblue;
}

.debug .list-nav li a{
    color: var(--text-white);
}

.debug .main-container{
    background-color: black;
}

.debug .sidebar{
    background-color: red;
}

.debug .cta{
    height: 100px;
}

.debug .navigator{
    background-color: aqua;
}

.debug .cover-container{
    background-color: bisque;
    height: 200px;
    width: 200px;
}

.debug h2 {
    color: var(--text-white);
}

.debug footer section{
    height: 80px;
    width: 30%;
    background-color: aqua;
}


/* Utility */

.d-flex{
    display: flex;
}

.no-dec{
    list-style: none;
}

.wrap {
    flex-wrap: wrap;
}

.overflow {
    overflow-y: scroll;
}

.flex-column {
    flex-direction: column;
}

.space-between {
   justify-content: space-between;
}

.align-center{
    align-items: center;
}


/* CSS Rules */

.main-container{
    width: calc(100% - 50px);
}

main{
    height: calc(100vh - 100px);
}

footer{
    height: 100px;
    width: 100%;
}

.sidebar{
    height: 100%;
    width: 50px;
}

.sidebar-container {
    height: 100%;
}

.cta{
    height: 100px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
    left: 50px;
}

.navigator {
    margin-top: 100px;
    height: 80px;
}

.list-nav li a {
   text-decoration: none;
}

.cover-item{
    width: calc(50% -40px);
    margin: 20px;
}

@media screen and (min-width: 576px) {
    
    .sidebar {
        width: 200px;
    }

    .main-container {
        width: calc(100% - 200px);
    }

    .cta {
        width: calc(100% - 200px);
        left: 200px;
    }
    
}

@media screen and (min-width: 768px) {

    .cover-item {
        width: calc(25%);
        margin: 30px;
    }

    

}

@media screen and (min-width: 992px) {

    .cover-item {
        width: calc(100% / 6 - 40px);
        margin: 20px ;
    }



}

@media screen and (min-width: 1200px) {

}